<footer>
    <div id='news-heading'>Studio Garden Newsletter</div>
    <p id='news-desc'>Sign up for our newsletter to learn about out latest products as well as gardening tips you can
        try at home.</p>
    <div>
        <input type="text" placeholder="Email Address" id='news-input'> <button id='news-button'>Sign Up</button>
    </div>
    <div id='bottom-links'>
        <div class='bottom-link-item'>About</div>
        <div class='bottom-link-item'>Press</div>
        <div class='bottom-link-item'>Blog</div>
        <div class='bottom-link-item'>info@studiogarden.com</div>
        <div class='bottom-link-item'>@studiogarden</div>
    </div>
</footer>