<nav>
    <a routerLink='/'>
        <div id='nav-title'>Studio <br> Garden</div>
    </a>
    <div id='nav'>
        <div id='links'>
            <a routerLink='/products'>
                <div class='nav-link'>Products</div>
            </a>
            <a routerLink='/about'>
                <div class='nav-link'>About us</div>
            </a>
        </div>
        <a routerLink='/cart'>
            <div id='cart'>
                Cart ({{items}})
            </div>
        </a>
    </div>
</nav>