<div id='home-cont'>
    <img src="../../assets/garden3.jpeg" alt="garden" id='garden1'>
</div>
<div class='heading'>Craft plants grown in the Neitherlands.</div>
<div class='mix-wrapper'>
    <div id='big'>
        <img src="../../assets/gridbig.jpeg" alt="" class='grid-img'>
    </div>
    <div id='small'>
        <div class='small-img'>
            <img src="../../assets/gridsmall1.jpeg" alt="" class='grid-img'>
        </div>
        <div class='small-img'>
            <img src="../../assets/gridsmall2.jpeg" alt="" class='grid-img'>
        </div>
    </div>
</div>
<div class='heading'>Explore our products.</div>
<div class='home-grid'>
    <img src="../../assets/homegrid1.jpeg" alt="" class='home-grid-img'>
    <img src="../../assets/homegrid2.jpeg" alt="" class='home-grid-img'>
    <img src="../../assets/homegrid3.jpeg" alt="" class='home-grid-img'>
</div>
<div class='heading'>Meet the makers.</div>
<div id='grid-two'>
    <img src="../../assets/gridtwo1.jpeg" alt="" class='home-grid-two'>
    <img src="../../assets/gridtwo2.jpeg" alt="" class='home-grid-two'>
</div>